<template>
  <div id="main">
    <drop-field></drop-field>
  </div>
</template>

<script>
  import DropField from './LandingPage/DropField';
  
  export default {
    name: 'LandingPage',
    components: {
      DropField,
    },
  };
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body { font-family: 'Source Sans Pro', sans-serif; }
</style>
