<template>
    <section>
        <div id="drop-field" class="hero is-primary is-medium">
            <div class="hero-head">
                <header class="nav-bar">
                    <div class="navbar-menu">
                        <div class="navbar-end">
                            <p class="navbar-item">{{ version }}</p>
                        </div>
                    </div>
                </header>
            </div>
            <main class="hero-body">
                <article class="container">
                    <h1 class="title"><font-awesome-icon icon="tint"/> {{ title }}</h1>
                    <h2 class="subtitle">{{ description }}</h2>
                </article>
            </main>
            <div class="hero-foot">
                <nav class="nav-bar">
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <a v-on:click="clearHistory()" class="button is-danger">Clear history</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <files :images="files"></files>
    </section>
</template>


<script>
    import Vue from 'vue';
    import fontawesome from '@fortawesome/fontawesome';
    import FontAwesomeIcon from '@fortawesome/vue-fontawesome';
    import faSolid from '@fortawesome/fontawesome-free-solid';
    import $ from 'jquery';
    import fs from 'fs';
    import path from 'path';
    /* eslint-disable import/no-extraneous-dependencies */
    const ipcRenderer = require('electron').ipcRenderer;

    fontawesome.library.add(faSolid);

    ipcRenderer.on('errorlog', (event, log) => {
    /* eslint-disable no-console */
      console.log(log);
    });

    const fl = new Vue({
      data: {
        images: [],
        logs: [],
      },
    });

    export default {
      name: 'DropField',
      components: {
        fl,
        FontAwesomeIcon,
        fontawesome,
        fs,
      },
      data() {
        return {
          title: 'bitdropr',
          version: 'v2.0.0 beta',
          description: 'Drop your files here and let the bits drop...',
          files: fl.images,
          logFiles: fl.logs,
        };
      },
      methods: {
        clearHistory: () => {
          const container = document.getElementById('v-file-list');
          container.innerHTML = '';
        },
      },
    };

    /**
     * file component for file list
     */
    Vue.component('files', {
      props: ['images'],
      template: '<section id="v-file-list" class="hero is-dark">' +
          '<div class="hero-body" v-for="image in images">' +
              '<p class="title is-5">{{ image.name }}</p>' +
              '<p class="subtitle is-6"><strong>Type:</strong> {{ image.type }} | <strong>Path:</strong> {{ image.path }}</p>' +
          '</div>' +
      '</section>',
    });

    /**
     * Document ready function
     */
    /* eslint-disable prefer-template */
    $(() => {
      const dropzone = document.getElementById('drop-field');
      fl.el = '#v-file-list';

      dropzone.ondragover = () => false;
      dropzone.ondragleave = () => false;
      dropzone.ondragend = () => false;

      dropzone.ondrop = (e) => {
        e.preventDefault();
        for (const f of e.dataTransfer.files) {
          const cleanPath = path.dirname(f.path);
          console.log(cleanPath);
          const buildPath = path.resolve(cleanPath, 'build/');
          fl.images.push(f);
          ipcRenderer.send('loadFile', {
            filePath: f.path,
            buildPath,
            fileName: f.name,
            debugInfo: f.toString(),
            fileType: f.type,
          });
        }
      };
    });
</script>

